@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Mazius";
  src: url("../public/fonts//MaziusDisplay/Mazius\ Display\ Regular.otf");
}

@font-face {
  font-family: "Agraham";
  src: url("../public/fonts/agraham/Agraham.otf");
}

body {
  background-color: #fcfaf8;
}