@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Mazius";
  src: url("./fonts/MaziusDisplay/Mazius/Display/Regular.otf");
}

@font-face {
  font-family: "Agraham";
  src: url("./fonts/agraham/Agraham.otf");
}

body {
  background-color: #fcfaf8;
}